@import '/styles/config.scss';

.container {
  margin: 0 auto;
  padding: 10px 10px;
  max-width: 1200px;
  text-align: center;
  font-size: 1.4rem;

  h2 {
    margin-top: 10px;
  }

  .cartList {
    margin-top: 10px;
    .cartItem {
      padding: 10px 0;
      display: grid;
      grid-template-columns: 150px 1fr 150px 200px 50px;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
      border-bottom: 1px solid #aaa;

      &:last-of-type {
        border-bottom: none;
      }

      img {
        height: 80px;
        max-width: 150px;
      }

      .cartItemTitle {
        display: flex;
        justify-content: space-around;

        button {
          margin-left: 10px;
          width: 80px;
          font-size: 1.2rem;
        }
      }

      .cartItemQuantity {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .buttonDelete {
        font-size: 1rem;
      }
    }
  }

  button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00adef;
    border: 1px solid #00adef;
    border-radius: 5px;
    font-size: 2rem;
    transition: 0.2s;

    &:hover {
      background-color: #00adef;
      color: white;
    }

    &:disabled {
      color: gray;
      border: 1px solid gray;

      &:hover {
        background-color: white;
        color: gray;
      }
    }
  }

  .summaryCost {
    margin: 20px 0;
    text-align: right;

    strong {
      margin-left: 5px;
    }
  }

  .buy {
    margin: 30px 0;
    display: flex;
    justify-content: flex-end;

    .buyButton {
      margin-right: 60px;
      width: 120px;
      font-size: 1.5rem;
    }
  }
}

@include mediaBig {
  .container {
    font-size: 1.2rem;

    .cartList {
      .cartItem {
        grid-template-columns: 100px 1fr 150px 150px 50px;

        .cartItemTitle {
          align-items: center;

          button {
            margin-left: 5px;
            width: 55px;
            font-size: 1rem;
          }
        }

        .cartItemQuantity {
          width: 90%;
        }
      }
    }

    .summaryCost {
      text-align: center;
    }

    .buy {
      justify-content: center;

      .buyButton {
        margin-right: 0;
      }
    }
  }
}

@include mediaMedium {
  .container {
    width: 100%;
    min-height: 600px;

    h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .cartList {
      .cartItem {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 100px 50px 50px;
        position: relative;
        grid-template-areas:
          'title'
          'image'
          'quantity'
          'price';

        &:first-of-type {
          border-top: 1px solid #aaa;
        }

        &:last-of-type {
          border-bottom: 1px solid #aaa;
        }

        img {
          grid-area: image;
        }

        .cartItemTitle {
          align-items: center;
          grid-area: title;
          font-size: 1.3rem;

          button {
            margin-left: 5px;
            width: 65px;
            font-size: 1rem;
          }
        }

        .cartItemQuantity {
          width: 150px;
          grid-area: quantity;
          font-size: 1.3rem;
        }

        .cartItemPrice {
          grid-area: price;
        }

        .buttonDelete {
          position: absolute;
          bottom: 67px;
          right: 10px;
          grid-area: delete;
        }
      }
    }

    button {
      &:hover {
        background-color: #00adef;
        color: white;
      }

      &:disabled {
        &:hover {
          background-color: white;
          color: gray;
        }
      }
    }

    .summaryCost {
      text-align: center;
    }

    .buy {
      margin: 20px 0;
      justify-content: center;

      .buyButton {
        margin-right: 0;
      }
    }
  }
}

@include mediaSmall {
  .container {
    width: 100%;
    min-height: 400px;

    h2 {
      margin-top: 40px;
      margin-bottom: 10px;
    }

    .cartList {
      .cartItem {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 100px 50px 50px;
        position: relative;
        grid-template-areas:
          'title'
          'image'
          'quantity'
          'price';

        &:first-of-type {
          border-top: 1px solid #aaa;
        }

        &:last-of-type {
          border-bottom: 1px solid #aaa;
        }

        img {
          grid-area: image;
        }

        .cartItemTitle {
          align-items: center;
          grid-area: title;
          font-size: 1.1rem;

          button {
            margin-left: 5px;
            width: 55px;
            font-size: 0.9rem;
          }
        }

        .cartItemQuantity {
          width: 150px;
          grid-area: quantity;
          font-size: 1.1rem;
        }

        .cartItemPrice {
          grid-area: price;
        }

        .buttonDelete {
          position: absolute;
          bottom: 67px;
          right: 10px;
          grid-area: delete;
        }
      }
    }

    button {
      &:hover {
        background-color: #00adef;
        color: white;
      }

      &:disabled {
        &:hover {
          background-color: white;
          color: gray;
        }
      }
    }

    .summaryCost {
      text-align: center;
    }

    .buy {
      margin: 20px 0;
      justify-content: center;

      .buyButton {
        margin-right: 0;
      }
    }
  }
}
