.container {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  grid-template-rows: repeat(auto-fill, 230px);
  grid-gap: 20px 50px;
  justify-content: center;

  .post {
    padding: 10px;
    text-align: justify;

    h2 {
      padding-bottom: 10px;
    }
  }
}
