@import '/styles/config.scss';

.advNavigateContainer {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #00adef;
    animation: blink 0.5s linear alternate infinite;

    p {
      margin-left: 20px;
      font-size: 1.5rem;
      color: #fff;
    }

    @keyframes blink {
      0% {
        opacity: 0.2;
      }

      100% {
        opacity: 1;
      }
    }
  }
}

.videoSection {
  padding: 60px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;

  .videoContainer {
    margin: 0 auto 10px;
    height: 800px;
    width: 75%;
    display: flex;
    justify-content: center;
  }

  button {
    margin-top: 40px;
    border: 2px solid #00adef;
    border-radius: 5px;
    color: #fff;

    a {
      display: block;
      padding: 10px;
      font-size: 1rem;
      transition: 0.2s;
    }

    :hover {
      background-color: #00adef;
      color: #fff;
    }
  }
}

@include mediaSmall {
  .advNavigateContainer {
    a {
      animation: none;
    }
  }

  .videoSection {
    padding: 10px 0 60px;

    .videoContainer {
      height: 400px;
      width: 95%;
    }

    button {
      margin-top: 30px;
      :hover {
        background-color: black;
      }
    }
  }
}
