.contactForm {
  margin: 30px auto;
  height: 490px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .section {
    margin-top: 10px;
    height: 200px;
    width: 100%;
    position: relative;
    font-size: 1.3rem;

    .sectionLabel {
      display: block;
      margin-bottom: 5px;
    }

    .sectionInput,
    .sectionTextarea {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #000;
      font-size: 0.7em;

      &.sectionInputError {
        border: 1px solid red;
      }
    }

    .sectionTextarea {
      height: 150px;
      resize: none;
    }

    .error {
      height: 20px;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      color: red;
      font-size: 0.7em;
    }
  }

  .submitBtn {
    padding: 5px;
    margin-top: 40px;
    width: 100px;
    color: #00adef;
    border: 2px solid #00adef;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.2s;

    &:hover {
      background-color: #00adef;
      color: #fff;
    }
  }
}
