@import '/styles/config.scss';

.container {
  max-width: 1200px;
  min-height: 720px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;

  .smallMobilesTitle {
    display: none;
  }

  .imageContainer {
    margin-top: 80px;
    width: 50%;
    position: relative;
    text-align: center;

    .activeImage {
      margin: 0 auto;
      padding: 35px 10px 35px 10px;
      height: 400px;
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: zoom-in;

      img {
        height: 100%;
        width: auto;
      }
    }

    .zoomButton {
      position: absolute;
      top: 20px;
      right: 70px;
      font-size: 1.2rem;
      color: #00adef;
    }
  }

  .panel {
    width: 100%;
    min-height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    .description {
      font-size: 1.3rem;
    }

    .price {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .btnsContainer {
      width: 300px;
      display: flex;
      justify-content: space-around;

      button {
        margin-left: 5px;
        margin-top: 15px;
        color: #00adef;
        border: 2px solid #00adef;
        border-radius: 5px;

        &:disabled {
          color: gray;
          border: 2px solid gray;

          :hover {
            background-color: white;
            color: gray;
          }
        }

        a {
          display: block;
          padding: 7px 15px;
          font-size: 1rem;
          transition: 0.2s;
        }

        p {
          padding: 7px 15px;
          font-size: 1rem;
          transition: 0.2s;
        }

        :hover {
          background-color: #00adef;
          color: #fff;
        }
      }
    }
  }
}

@include mediaSmall {
  .container {
    min-height: none;
    flex-direction: column;

    .smallMobilesTitle {
      display: block;
      text-align: center;
      font-size: 1.8rem;
    }

    .imageContainer {
      margin-top: 20px;
      width: 100%;

      .activeImage {
        height: 320px;
        width: 320px;

        img {
          height: 100%;
          width: auto;
        }
      }
    }

    .panel {
      min-height: 250px;

      .bigDevicesTitle {
        display: none;
      }

      .description {
        font-size: 1.2rem;
      }

      .price {
        margin-top: 10px;
        font-size: 1.4rem;
      }

      .btnsContainer {
        width: 300px;
        display: flex;
        justify-content: space-around;

        button {
          margin-left: 5px;
          margin-top: 15px;

          &:disabled {
            color: gray;
            border: 2px solid gray;

            :hover {
              background-color: white;
              color: gray;
            }
          }

          a {
            padding: 5px 10px;
            font-size: 1rem;
          }

          p {
            padding: 5px 10px;
            font-size: 1rem;
          }

          :hover {
            background-color: #fff;
            color: #00adef;
          }
        }
      }
    }
  }
}
