@import '/styles/config.scss';

.container {
  padding: 20px 10px 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;

  .shortcutsContainer {
    padding-bottom: 20px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .shortcutsColumn {
      min-width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        margin-bottom: 10px;
      }

      .shortcutsItem {
        margin-bottom: 5px;
        color: #999;
        transition: 0.2s;
        :hover {
          color: #00adef;
        }
      }
    }
  }

  .copyrightContainer {
    margin-top: 30px;
    color: #999;
  }
}

@include mediaSmall {
  .container {
    .shortcutsContainer {
      width: 100%;
      max-width: 600px;
      flex-wrap: wrap;

      .shortcutsColumn {
        min-width: 33%;

        .shortcutsItem {
          font-size: 0.8rem;
          :hover {
            color: #999;
          }
        }
      }
    }
  }
}

@include mediaSmallest {
  .container {
    .shortcutsContainer {
      justify-content: space-around;
    }
  }
}
