@import '/styles/config.scss';

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'firstDot secondDot'
    'thirdDot fourthDot';
  justify-content: center;
  align-items: center;
  gap: 5px;

  div {
    margin: 5px;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: none;
  }

  @keyframes load {
    0% {
      opacity: 0;
    }

    33% {
      opacity: 0;
    }

    66% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  .firstDot {
    background-color: #00adef;
    grid-area: firstDot;
    animation: load 0.8s linear infinite both;
  }

  .secondDot {
    background-color: #005baa;
    grid-area: secondDot;
    animation: load 0.8s linear infinite both;
    animation-delay: 0.6s;
  }

  .thirdDot {
    background-color: #005baa;
    grid-area: thirdDot;
    animation: load 0.8s linear infinite both;
    animation-delay: 0.2s;
  }

  .fourthDot {
    background-color: #00adef;
    grid-area: fourthDot;
    animation: load 0.8s linear infinite both;
    animation-delay: 0.4s;
  }
}

@include mediaMedium {
  .container {
    height: 35px;
    width: 35px;
  }
}

@include mediaSmall {
  .container {
    height: 30px;
    width: 30px;
  }
}

@include mediaSmallest {
  .container {
    height: 20px;
    width: 20px;
  }
}
