@import '/styles/config.scss';

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'firstDot secondDot'
    'thirdDot fourthDot';
  justify-content: center;
  align-items: center;
  gap: 5px;

  div {
    margin: 5px;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: load 0.4s linear infinite;

    &.firstDot {
      background-color: #00adef;
      grid-area: firstDot;
    }

    &.secondDot {
      background-color: #005baa;
      grid-area: secondDot;
      animation-delay: 0.3s;
    }

    &.thirdDot {
      background-color: #005baa;
      grid-area: thirdDot;
      animation-delay: 0.1s;
    }

    &.fourthDot {
      background-color: #00adef;
      grid-area: fourthDot;
      animation-delay: 0.2s;
    }
  }

  @keyframes load {
    0% {
      opacity: 0;
    }

    33% {
      opacity: 0;
    }

    66% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }
}

@include mediaMedium {
  .container {
    height: 35px;
    width: 35px;
  }
}

@include mediaSmall {
  .container {
    height: 30px;
    width: 30px;
  }
}

@include mediaSmallest {
  .container {
    height: 20px;
    width: 20px;
  }
}
