@import '/styles/config.scss';

.productImagesModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .productImagesModal {
    width: 1000px;
    position: relative;
    z-index: 1000;

    .closeButton {
      position: absolute;
      top: 20px;
      right: 50px;
      color: #00adef;
      font-size: 2rem;
    }

    .activeImage {
      margin: 0 auto;
      padding: 20px;
      width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 750px;
        width: auto;
      }
    }
  }
  .productImagesModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: zoom-out;
    z-index: 500;
  }
}

@include mediaLarge {
  .productImagesModalContainer {
    .productImagesModal {
      width: 70%;

      .activeImage {
        width: 100%;

        img {
          height: 450px;
          width: auto;
        }
      }
    }
  }
}

@include mediaSmall {
  .productImagesModalContainer {
    .productImagesModal {
      width: 100%;

      .closeButton {
        top: 10px;
        right: 30px;
      }

      .activeImage {
        width: 100%;

        img {
          height: 300px;
          width: auto;
        }
      }
    }
  }
}
