@import '/styles/config.scss';

.list {
  margin: 0 auto;
  padding: 10px 10px 20px 10px;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;

  .item {
    width: 160px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;

    .itemIcon {
      display: none;
    }

    :hover {
      color: #00adef;
    }

    a {
      display: block;
      transition: 0.2s;
    }
  }
}

@include mediaSmall {
  .list {
    margin-top: 50px;
    margin-left: -20px;
    width: 70%;
    .item {
      .itemText {
        display: none;
      }
      .itemIcon {
        display: block;
      }
    }
  }
}

@include mediaSmallest {
  .list {
    margin-left: -10px;
  }
}
