@import '/styles/config.scss';

.container {
  border: 1px solid black;

  h3 {
    padding: 10px;
    background-color: #00adef;
    color: #fff;
  }

  .list {
    display: flex;
    flex-direction: column;

    .item {
      border-top: 1px solid black;

      :hover {
        background-color: #00adef;
        color: #fff;
      }

      a {
        padding: 10px;
        display: block;
        transition: 0.2s;
      }

      &.active {
        border-right: 10px solid #00adef;
        color: #00adef;
        font-weight: bold;
      }
    }
  }
}

@include mediaSmall {
  .container {
    h3 {
      border-bottom: 1px solid black;
    }
    .list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .item:nth-of-type(1) {
        width: 100%;
      }

      .item {
        border-top: none;
        width: 33%;

        :hover {
          background-color: #fff;
          color: #00adef;
        }

        a {
          padding: 5px;
          text-align: center;
        }

        &.active {
          border-right: none;
        }
      }
    }
  }
}
