@import '/styles/config.scss';

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

  .categoriesContainer {
    width: 20%;
    padding: 20px;
  }

  .sortContainer {
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
    background-color: #00adef;
    color: white;
    font-size: 1rem;
    font-weight: bold;

    h3 {
      padding: 10px;
      border-bottom: 1px solid black;
    }

    select {
      width: 100%;
      padding: 10px 5px;
      display: block;
      font-size: 1rem;
      cursor: pointer;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  .searchContainer {
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
    background-color: #00adef;
    color: white;
    font-size: 1rem;
    font-weight: bold;

    h3 {
      padding: 10px;
      border-bottom: 1px solid black;
    }

    input {
      padding: 10px;
      width: 100%;
      border: none;
    }
  }

  .productsContainer {
    width: 100%;
    min-height: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px 10px;
    justify-items: center;
  }
}

@include mediaSmall {
  .container {
    flex-direction: column;

    .categoriesContainer {
      margin-top: 30px;
      width: 100%;
    }

    .secondSection {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .sortContainer {
      width: 45%;

      select {
        height: 40px;
        background-color: #fff;
      }
    }

    .searchContainer {
      width: 45%;
      input {
        height: 40px;
      }
    }
  }
}

@include mediaSmallest {
  .container {
    .productsContainer {
      padding: 10px;
    }
  }
}
