@import '/styles/config.scss';

.container {
  margin: 0 auto;
  padding: 10px 20px;
  min-height: 450px;
  max-width: 1200px;
  text-align: center;
  font-size: 1.4rem;

  h2 {
    margin: 10px 0;
  }

  .historyList {
    margin: 0 auto;
    max-width: 825px;

    .historyItem {
      border-top: 1px solid #aaa;

      .finished {
        color: green;
      }

      .canceled {
        color: red;
      }

      .historyItemDate {
        margin: 10px;
      }

      .historyOrderList {
        .historyOrderItem {
          padding: 10px 0;
          display: grid;
          grid-template-columns: 1fr 0.5fr 0.5fr;
          grid-template-rows: 1fr;
          align-items: center;
          text-align: left;

          .historyOrderItemQuantity {
            text-align: center;
          }

          .historyOrderItemPrice {
            text-align: right;
          }
        }
      }
    }
  }
}

@include mediaSmall {
  .container {
    font-size: 1.4rem;

    h2 {
      font-size: 1.6rem;
    }

    .historyList {
      font-size: 1.2rem;
    }
  }
}

@include mediaSmallest {
  .container {
    font-size: 0.9rem;
  }
}
